.partners {
  padding: 108px 0;

  @include mobile {
    padding: 76px 0;
  }

  &__container {
    @include flex-all-between;
    gap: 30px;

    @include small-tablet {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }

  &__title {
    max-width: 323px;
    font-weight: 500;
    line-height: 1.7778;
    color: var(--neutral-color-150);

    @include small-tablet {
      max-width: none;
    }

    &-num {
      display: block;
      margin-bottom: 16px;
      font-weight: 600;
      line-height: 1.2;
      letter-spacing: -2px;
      color: var(--neutral-color-100);

      @include small-mobile {
        margin-bottom: 10px;
      }
    }
  }

  &__wrapper {
    max-width: 730px;
    transition-timing-function: linear !important;

    @include small-tablet {
      max-width: 100dvw;
    }
  }

  &__slider {
    overflow: hidden;
  }

  &__logo {
    @include flex-all-center;
    border-radius: 16px;
    padding: 15px 30px;
    width: 200px;
    background-color: #fff;
    aspect-ratio: 2;

    @include mobile {
      padding: 10px 20px;
      width: 150px;
    }

    &-image {
      width: 100%;
    }
  }
}
