<section class="partners">
  <div class="container partners__container">
    <h2 class="partners__title text-p-medium">
      <span class="partners__title-num heading-h2">890+</span>
      some big companies that we work with, and trust us very much
    </h2>
    <div class="partners__slider">
      <div class="swiper-wrapper partners__wrapper">
        <div class="swiper-slide partners__slide">
          <div class="partners__logo">
            <img
              class="partners__logo-image"
              loading="lazy"
              width="97"
              height="30"
              src="./assets/icons/partners/airbnb-logo-icon.svg"
              alt="Airbnb logo icon"
            />
          </div>
        </div>
        <div class="swiper-slide partners__slide">
          <div class="partners__logo">
            <img
              class="partners__logo-image"
              loading="lazy"
              width="97"
              height="30"
              src="./assets/icons/partners/amazon-logo-icon.svg"
              alt="Amazon logo icon"
            />
          </div>
        </div>
        <div class="swiper-slide partners__slide">
          <div class="partners__logo">
            <img
              class="partners__logo-image"
              loading="lazy"
              width="95"
              height="29"
              src="./assets/icons/partners/fedex-logo-icon.svg"
              alt="FedEx logo icon"
            />
          </div>
        </div>
        <div class="swiper-slide partners__slide">
          <div class="partners__logo">
            <img
              class="partners__logo-image"
              loading="lazy"
              width="115"
              height="25"
              src="./assets/icons/partners/microsoft-logo-icon.svg"
              alt="Microsoft logo icon"
            />
          </div>
        </div>
        <div class="swiper-slide partners__slide">
          <div class="partners__logo">
            <img
              class="partners__logo-image"
              loading="lazy"
              width="90"
              height="30"
              src="./assets/icons/partners/google-logo-icon.svg"
              alt="Google logo icon"
            />
          </div>
        </div>
        <div class="swiper-slide partners__slide">
          <div class="partners__logo">
            <img
              class="partners__logo-image"
              loading="lazy"
              width="93"
              height="32"
              src="./assets/icons/partners/ola-logo-icon.svg"
              alt="OLA logo icon"
            />
          </div>
        </div>
        <div class="swiper-slide partners__slide">
          <div class="partners__logo">
            <img
              class="partners__logo-image"
              loading="lazy"
              width="113"
              height="27"
              src="./assets/icons/partners/walmart-logo-icon.svg"
              alt="Walmart logo icon"
            />
          </div>
        </div>
        <div class="swiper-slide partners__slide">
          <div class="partners__logo">
            <img
              class="partners__logo-image"
              loading="lazy"
              width="80"
              height="30"
              src="./assets/icons/partners/oyo-logo-icon.svg"
              alt="OYO logo icon"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
