<section class="testimonials">
  <div class="container">
    <div class="testimonials__head">
      <h2 class="testimonials__title heading-h2">
        What our customer are saying
      </h2>
      <p class="testimonials__descr text-p-medium">
        We are trusted numerous companies from different business to meet their
        needs
      </p>
    </div>
    <div class="testimonials__slider-wrapper">
      <div class="swiper testimonials__slider">
        <div class="swiper-wrapper testimonials__comments">
          <div class="swiper-slide testimonials__comment">
            <div class="testimonials__rating text-p-default">
              <img
                loading="lazy"
                src="./assets/icons/rating-icon.svg"
                width="132"
                height="20"
                alt="Five stars"
              />
              <span class="testimonials__rating-num"> 5.0 </span>
            </div>
            <p class="testimonials__comment-text heading-h3">
              “With Agency the results are very satisfying. wrapped with Hight
              quality and innovative design that makes a surge of visitors on my
              website”
            </p>
            <address class="testimonials__comment-author">
              <img
                loading="lazy"
                src="./assets/images/comment-author-1.jpg"
                class="testimonials__comment-author-avatar"
                width="56"
                height="56"
                alt=""
              />
              <div class="testimonials__comment-author-info">
                <p class="testimonials__comment-author-name text-p-medium">
                  Renee Wells
                </p>
                <p
                  class="testimonials__comment-author-professions text-p-default"
                >
                  Product Designer, Quotient
                </p>
              </div>
            </address>
          </div>
          <div class="swiper-slide testimonials__comment">
            <div class="testimonials__rating text-p-default">
              <img
                loading="lazy"
                src="./assets/icons/rating-icon.svg"
                width="132"
                height="20"
                alt="Five stars"
              />
              <span class="testimonials__rating-num"> 5.0 </span>
            </div>
            <p class="testimonials__comment-text heading-h3">
              “With Agency the results are very satisfying. wrapped with Hight
              quality and innovative design that makes a surge of visitors on my
              website”
            </p>
            <address class="testimonials__comment-author">
              <img
                loading="lazy"
                src="./assets/images/comment-author-1.jpg"
                class="testimonials__comment-author-avatar"
                width="56"
                height="56"
                alt=""
              />
              <div class="testimonials__comment-author-info">
                <p class="testimonials__comment-author-name text-p-medium">
                  Renee Wells
                </p>
                <p
                  class="testimonials__comment-author-professions text-p-default"
                >
                  Product Designer, Quotient
                </p>
              </div>
            </address>
          </div>
          <div class="swiper-slide testimonials__comment">
            <div class="testimonials__rating text-p-default">
              <img
                loading="lazy"
                src="./assets/icons/rating-icon.svg"
                width="132"
                height="20"
                alt="Five stars"
              />
              <span class="testimonials__rating-num"> 5.0 </span>
            </div>
            <p class="testimonials__comment-text heading-h3">
              “With Agency the results are very satisfying. wrapped with Hight
              quality and innovative design that makes a surge of visitors on my
              website”
            </p>
            <address class="testimonials__comment-author">
              <img
                loading="lazy"
                src="./assets/images/comment-author-1.jpg"
                class="testimonials__comment-author-avatar"
                width="56"
                height="56"
                alt=""
              />
              <div class="testimonials__comment-author-info">
                <p class="testimonials__comment-author-name text-p-medium">
                  Renee Wells
                </p>
                <p
                  class="testimonials__comment-author-professions text-p-default"
                >
                  Product Designer, Quotient
                </p>
              </div>
            </address>
          </div>
        </div>
      </div>
      <div class="testimonials__btns">
        <button class="testimonials__btn testimonials__btn--prev">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.73635 15.0364C8.38487 15.3879 7.81503 15.3879 7.46355 15.0364L2.06355 9.63644C1.71208 9.28497 1.71208 8.71512 2.06355 8.36365L7.46356 2.96365C7.81503 2.61218 8.38488 2.61218 8.73635 2.96365C9.08782 3.31512 9.08782 3.88497 8.73635 4.23644L4.87274 8.10005L15.3 8.10005C15.797 8.10005 16.2 8.50299 16.2 9.00005C16.2 9.4971 15.797 9.90005 15.3 9.90005L4.87274 9.90005L8.73635 13.7637C9.08782 14.1151 9.08782 14.685 8.73635 15.0364Z"
              fill="#CED1D8"
            />
          </svg>
        </button>
        <button class="testimonials__btn testimonials__btn--next">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.73635 15.0364C8.38487 15.3879 7.81503 15.3879 7.46355 15.0364L2.06355 9.63644C1.71208 9.28497 1.71208 8.71512 2.06355 8.36365L7.46356 2.96365C7.81503 2.61218 8.38488 2.61218 8.73635 2.96365C9.08782 3.31512 9.08782 3.88497 8.73635 4.23644L4.87274 8.10005L15.3 8.10005C15.797 8.10005 16.2 8.50299 16.2 9.00005C16.2 9.4971 15.797 9.90005 15.3 9.90005L4.87274 9.90005L8.73635 13.7637C9.08782 14.1151 9.08782 14.685 8.73635 15.0364Z"
              fill="#CED1D8"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
